<div id="overview">
  <!-- Masthead
  ================================================== -->
  <header class="jumbotron masthead">
    <div class="inner">
      <h1>Droppy!</h1>
      <p class="lead">Download files through the DropBox.</p>
    </div>
  </header>

  <ul class="quick-links">
    <li><strong>Quick links</strong></li>
    <li><a href="/">Home</a></li>
  </ul>

  <div class="marketing">
    <div class="row">
      <div class="span4">
        <h2>Does stuff you like</h2>
        <p>
          Makes it easy to give a web view into a specific folder
        </p>
      </div>
      <div class="span4">
        <h2>Dead simple</h2>
        <p>
          I wasn't kidding
        </p>
      </div>
      <div class="span4">
        <h2>On the web</h2>
        <p>
          It's web based, see?
        </p>
      </div>
    </div><!--/row-->
  </div>
</div><!-- /#overview -->

